<div class="container" fxFill fxLayout="column wrap" fxLayoutAlign="center">
  <div fxFlex="40%" fxLayoutAlign="center center">
    <div class="logo">
      <div class="logo-heading">
        <span class="first-letter">S</span>chedule
        <span class="first-letter">E</span>ase
        <span class="first-letter">P</span>ortal
      </div>
    </div>
  </div>
  <div fxFlex="60%" class="sep-auth-card-section" fxLayout="column nowrap" fxLayoutAlign="start center">
    <mat-card class="sep-auth-card">
      <mat-card-title>
        {{ isRequestSubmitted ? "Request has been submitted!" : "Forgot Password?" }}
      </mat-card-title>
      <ng-template [ngIf]="isRequestSubmitted" [ngIfElse]="forgotPassword">
        <mat-card-content>
          <p>
            The Email with instructions to reset your password has been sent to
            <strong>john.doe@email.com</strong>
          </p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="space-between center">
          <a routerLink="/login">
            <small>Back to Login</small>
          </a>
          <button mat-raised-button class="sep-auth-button" color="primary">
            Resend Email
          </button>
        </mat-card-actions>
      </ng-template>
      <ng-template #forgotPassword>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onFormSubmit()">
          <mat-card-content>
            <ng-template [ngIf]="invalidAttempt">
              <div class="validation-error" fxLayout="row nowrap" fxLayoutAlign="start center">
                <i class="material-icons error">
                  cancel
                </i>
                <span>No Account found with that email address</span>
              </div>
            </ng-template>
            <p>
              Enter your email address and we&apos;ll email you instructions to reset your password.
            </p>
            <mat-form-field class="full-width">
              <input matInput placeholder="Email Address" formControlName="email" required id="username">
              <mat-error *ngIf="forgotPasswordForm.controls.email.invalid">{{ invalidEmailError }}</mat-error>
            </mat-form-field>
            <!-- Markup for getting Username ends -->
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="space-between center">
            <a routerLink="/login">
              <small>Back to Login</small>
            </a>
            <button mat-raised-button class="sep-auth-button" type="submit" color="primary">
              Reset
            </button>
          </mat-card-actions>
        </form>
      </ng-template>
    </mat-card>
  </div>
</div>