.round {
    position: relative;
    label {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 15px;
        left: 0;
        position: absolute;
        top: 0;
        width: 15px;
        cursor: none;
        pointer-events: none;
        &:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 6px;
            opacity: 0;
            position: absolute;
            width: 11px;
        }
    }
    input[type="checkbox"] {
        visibility: hidden;
        +label {
            background-color: #BFBFBF;
            border-color: #BFBFBF;
            &:after {
                opacity: 1;
                transform: rotate(0deg);
                border-left: none;
                left: 2px;
                top: 1px;
            }
            +span {
                color: #969696;
                font-size: 12px;
            }
        }
        &:checked+label {
            background-color: #66bb6a;
            border-color: #66bb6a;
            &:after {
                opacity: 1;
                top: 1px;
                left: 1px;
                border-left: 2px solid #fff;
                transform: rotate(-45deg);
            }
        }
    }
}

.rules-hold {
    margin-top: -10px;
    margin-bottom: 10px;
}