<div class="container" fxFill fxLayout="column wrap" fxLayoutAlign="center">
  <div fxFlex="40%" fxLayoutAlign="center center">
    <div class="logo">
      <div class="logo-heading">
        <span class="first-letter">S</span>chedule
        <span class="first-letter">E</span>ase
        <span class="first-letter">P</span>ortal
      </div>
    </div>
  </div>
  <div fxFlex="60%" class="sep-auth-card-section" fxLayout="column nowrap" fxLayoutAlign="start center">
    <mat-card class="sep-auth-card">
      <mat-card-title>
        Reset Password
      </mat-card-title>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onFormSubmit()">
        <mat-card-content>
          <!-- Markup for getting Password starts -->
          <mat-form-field class="full-width">
            <input matInput placeholder="New Password" [type]="confirm_hide ? 'text' : 'password'" formControlName="password" required
              id="password">
            <mat-icon matSuffix (click)="confirm_hide = !confirm_hide" [ngClass]="confirm_hide ? 'visibility_off' : ''">{{confirm_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="resetPasswordForm.controls.password.invalid">{{ invalidPasswordError }}</mat-error>
          </mat-form-field>
          <app-password-check [passwordToCheck]="resetPasswordForm.controls.password"></app-password-check>
          <!-- Markup for getting Password ends -->
          <!-- Markup for getting Confirm Password starts -->
          <mat-form-field class="full-width">
            <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" required id="confirm-password">
            <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.invalid">
              {{ invalidConfirmPasswordError }}
            </mat-error>
          </mat-form-field>
          <!-- Markup for getting Confirm Password ends -->
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="space-between center">
          <a routerLink="/login">
            <small>Back to Login</small>
          </a>
          <button mat-raised-button class="sep-auth-button" type="submit" color="primary">
            Set Password
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>