/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import 'variables';
html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    color: #262626;
    font-family: 'Roboto', Courier, monospace
}

.logo {
    .logo-heading {
        font-size: 2.5rem;
        color: $primary-color;
        font-weight: 100;
        letter-spacing: 1pt;
        @media screen and (max-width: 400px) {
            font-size: 1.8rem;
        }
        .first-letter {
            font-family: 'Roboto Condensed', Courier, monospace;
            font-weight: 700;
        }
    }
}

a {
    text-decoration: none;
    color: $secondary-color;
}

.sep-auth-card-section {
    background: #004867;
    color: #fff;
    .sep-auth-card {
        min-width: 400px;
        max-width: 420px;
        padding: 0;
        top: -75px;
        border-radius: 0;
        @media screen and (max-width: 400px) {
            min-width: 300px;
            max-width: 300px;
        }
        .mat-card-title {
            padding: 24px;
            border-bottom: 1px solid #ccc;
        }
        .mat-card-content {
            padding: 10px 24px 0 24px;
            .mat-form-field {
                margin-bottom: 1rem;
            }
        }
        .mat-card-actions {
            padding: 0 24px 24px !important;
            margin: 0 !important;
        }
        .sep-auth-button {
            background: $secondary-color;
            text-transform: uppercase;
            width: 150px;
        }
    }
}

.full-width {
    width: $full-width;
}

.validation-error {
    background-color: #FFF0EF;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    line-height: 20px;
    i.error {
        color: #FF0000;
        margin-right: 5px;
    }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $secondary-color;
}

.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: $ripple-color !important
}

.mat-checkbox-layout .mat-checkbox-inner-container {
    top: -2px !important;
}